<header class="col-md-12 col-sm-12 col-xs-12 bankHeader">
    <section class="logoContainer col-md-1 col-sm-2 col-xs-3 nopadding">
        <img class="logoIcon" src="../../assets/images/bank_logo.png"/> <br>
        <p class="logoText">Bank</p>
    </section>
    <section class="col-md-9 col-sm-8 col-xs-7 textOverFlow">
        <article class="welcomeText">Welcome 
            <span *ngIf="loggedInUserDetails">{{loggedInUserDetails.user}}</span>
        </article>
        <span class="glyphicon glyphicon-map-marker pinIcon"></span>
        <span class="locationText">{{currentLocation}}</span>
    </section>
    <section class="col-md-1 col-sm-1 col-xs-1 nopadding backLinkSection">
        <a href="https://dev34514.service-now.com/jf/?id=solution_center" class="backLink">Back</a>
    </section>
    <section class="col-md-1 col-sm-1 col-xs-1 nopadding dropdown">        
        <span class="glyphicon glyphicon-cog pull-right dropdown-toggle settingIcon"
            id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"></span>
        <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenu1">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li role="separator" class="divider"></li>
            <li><a routerLink='/'>Log out</a></li>
        </ul>    
    </section>
</header>