.bankHeader{
    background: #376069;
    color: #FFFFFF;
    height: 60px;
    padding-top: 5px;
    top:0;
    position: fixed;
}

.logoIcon{
    width:30px;
    height:30px;
}

.logoText{
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 4px;
    font-weight: bold;
}

.settingIcon{
    font-size: 30px;
    padding-top: 10px;
}

.pinIcon{
    margin-right:5px;
}

.welcomeText{
    font-size: 20px;
}

.locationText{
    font-size: 14px;
}

.textOverFlow{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.backLinkSection{
    margin-top: 10px;
}

.backLink{
    color: white;
    font-size: 20px;
}

.backLink:hover{
    color: white;
}